
body{ 
	background:url(http://bit.ly/1I7e8LF) no-repeat; 
	background-size: 25em;
	background-position: center;

}
h1, h2, h3, ul, p {
	color: black;
}
h4 {
	color:red;
}




<link rel="stylesheet" type="text/css" href="css/style.css">


