
body{ 
	background:url(http://i67.tinypic.com/2mn5bmd.png) no-repeat;
	background-color: white; 
	background-size: 20em;
	background-position: center;

}
h1, h2, h3, ul, p {
	color: black;
}
h4 {
	color:red;
}




<link rel="stylesheet" type="text/css" href="css/style.css">

