@import url(https://fonts.googleapis.com/css?family=Ubuntu:700);
@import url(https://fonts.googleapis.com/css?family=Oswald);
* { margin:0; padding:0; box-sizing: border-box; }
html { height:100%; }
body { 
	font-family: 'Ubuntu', sans-serif;
	font-size: 100%;
    color: blue;

}
h1 {
	color: white;
	text-align: center;
	font-family: Arial, sans-serif;
    font-size: 5em;
}

h2 {
	text-align: center;
	font-family: 'Oswald', sans-serif;
}

p {
}

header {
	background-color: blue;
    border: 1px black solid;
    padding: 0px;
}

nav {
    background-color: white;
    border: 1px black solid;
    padding: 1em;
    text-align: center;
}

ul {
    list-style: square;
    }
li {

}

footer {
    background-color: white;
    border: 1px black solid;
    padding: 1em;
    text-align: center;
    }

.slogan {
    text-align: center;
    color: white;
    font-size: 100%;
    }

section {
    background-color: white;
    border: 1px black solid;
    padding: 0px;
    }        

.leftone {
    background-color: white;
    border: 1px black solid;
    padding: 2em;
    float: left;
    width: 50%;
    min-height: 16em;
    max-height: 16em;
    }

.rightone {
    background-color: blue;
    color: white; 
    border: 1px black solid;
    padding: 2em;
    float: right;
    width: 50%;
    min-height: 16em;
    max-height: 16em;
    }

.lefttwo {
    background-color: blue;
    color: white;
    border: 1px black solid;
    padding: 2em;
    float: left;
    width: 50%;
    min-height: 16em;
    max-height: 16em;
    }

.righttwo {
    background-color: white;
    border: 1px black solid;
    padding: 2em;
    float: right;
    width: 50%;
    min-height: 16em;
    max-height: 16em;
    }

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }

@media screen and (max-width: 720px) {
    h1 {
        font-size: 4em;
    }
    .leftone {
        color: blue;
        float: none;
        width: auto;
        }         
    .rightone {
        float: none;
        width: auto;
        }
    .lefttwo {
        background-color: white;
        color: blue;
        float: none;
        width: auto;
        }         
    .righttwo {
        background-color: blue;
        color: white;
        float: none;
        width: auto;
        }
    }