
body{ 
	background:url("http://i66.tinypic.com/35bb0ut.jpg") no-repeat;
	background-size: cover;
	background-color: white; 
	background-size: 75em;
	background-position: center;
	font-family: url(https://fonts.googleapis.com/css?family=Ubuntu);
	font-size: 18px;
}
h1 {
	color: white;
	text-align: right;
}

h2 {
	text-align: right;
}

h3 {

}

p {

}

strong {
	color: yellow;
	font-size: 20;
}
first {
	color: red;
}
second {
	color: navy;
}

ul {
	list-style: square;
}


<link rel="stylesheet" type="text/css" href="css/style.css">

